<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Responsive</title>
    <style>
     
    </style>
    <link rel="stylesheet" href="~/Client/css/site.css">

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
	<!-- Logo -->
	<a href="#" class="logo">
		<img src="logo.png" alt="صنعت نوین">
	</a>

	<!-- Toggle Button -->
	<button class="menu-toggle" aria-label="Toggle Menu">
		<i class="fas fa-bars">منو</i>
	</button>

	<!-- Main Links -->
	<ul class="nav-links">
		<li>

				<img src="~/client/images/header/home-2.svg" />
			<a href="#">خانه</a>
		</li>
		<li>
			<img src="~/Client/Images/Header/note.svg"/>
			<a href="#">وبلاگ ما</a>
		</li>
		<li><a href="#">درباره ما</a></li>
		<li><a href="#">تماس با ما</a></li>
		<li><a href="#">محصولات ما</a></li>
		<li class="dropdown">
			<span>همه صفحات</span>
			<i class="fas fa-chevron-down"></i>
		</li>
	</ul>

	<form class="search-container">
		<img src="~/Client/Images/Header/search.svg" alt="جستجو" class="icon">
		<input type="text" placeholder="جستجو کنید...">
	</form>


	<!-- Auth Button -->
	<button class="btn-auth">
		ورود/ثبت نام
	</button>
</nav>

<main>
	@RenderBody()
</main>
 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  
<script src="~/Client/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
