html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


 
.ck-editor__editable {
    min-height: 300px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: #0069d9; /* ??? ??? */
    color: white;
    border: none;
    font-weight: bold;
    margin: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #0056b3; /* ??? ??? ???? ????? ???? */
        transform: scale(1.05); /* ??? ??????? ??? ????? ???? */
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background-color: #28a745; /* ??? ??? ???? ???? ???? */
        color: white;
        font-weight: bold;
    }